/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap'); */
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
  --primary: #EC1D00
  /* --primary : #EB0700 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-orbitron: var(--font-orbitron);
  --font-paladin: var(--font-paladin);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.swiper-button-next,
.swiper-button-prev {
  background-color: white !important;
  z-index: 999 !important;
  padding: 12px !important;
  border-radius: 50%;
  color: var(--primary) !important;
  font-weight: 800 !important;
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
  z-index: 9999;
}

.swiper-button-next {
  margin-right: 20px !important;
}

.swiper-button-prev {
  margin-left: 20px !important;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 0 !important;



}


.swiper-pagination-bullet {
  background-color: white !important;
  width: 12px !important;
  height: 12px !important;
  position: relative !important;
  transition: 200ms !important;
  margin-right: 20px !important;
  margin-bottom: 20px !important;

}

.swiper-pagination-bullet-active::after {
  position: absolute !important;
  transition: 1s !important;
  content: "";
  width: 23px !important;
  height: 23px !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  border: 2px solid white;
  padding: 5px;
}


.shadow-custom:hover {
  box-shadow: -9px 19px 27px 15px rgba(0, 0, 0, 0.1);

}

.shadow-custom {
  transition: 400ms;
}






/* menu icon  */


.burger {
  position: relative;
  width: 35px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  display: block;
  scale: 0.7;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(248, 248, 248);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
  transform: rotate(48deg);
  top: 0px;
  left: 4px;
}

.burger input:checked~span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
  transform: rotate(-50deg);
  top: 26px;
  left: 5px;
}

/* 
.gradient {
  background-image: linear-gradient(
    140deg,
    hsl(7deg 100% 46%) 0%,
    hsl(6deg 98% 41%) 4%,
    hsl(6deg 97% 35%) 9%,
    hsl(5deg 95% 30%) 13%,
    hsl(4deg 94% 25%) 17%,
    hsl(3deg 92% 19%) 22%,
    hsl(2deg 89% 14%) 26%,
    hsl(0deg 86% 8%) 31%,
    hsl(0deg 86% 3%) 35%,
    hsl(0deg 86% 3%) 39%,
    hsl(0deg 86% 3%) 44%,
    hsl(0deg 86% 3%) 48%,
    hsl(0deg 86% 3%) 52%,
    hsl(0deg 86% 3%) 57%,
    hsl(0deg 86% 3%) 61%,
    hsl(0deg 86% 3%) 65%,
    hsl(0deg 86% 3%) 69%,
    hsl(0deg 86% 3%) 73%,
    hsl(0deg 86% 3%) 77%,
    hsl(0deg 86% 3%) 81%,
    hsl(0deg 86% 3%) 85%,
    hsl(0deg 86% 3%) 89%,
    hsl(0deg 86% 3%) 93%,
    hsl(0deg 86% 3%) 96%,
    hsl(0deg 86% 3%) 100%
  );
} */

.gradient {
  background-image: linear-gradient(
    140deg,
    hsl(7deg 100% 46%) 0%,
    hsl(7deg 98% 42%) 2%,
    hsl(6deg 97% 37%) 4%,
    hsl(5deg 95% 33%) 7%,
    hsl(4deg 94% 28%) 10%,
    hsl(4deg 93% 23%) 14%,
    hsl(3deg 92% 19%) 18%,
    hsl(2deg 89% 14%) 24%,
    hsl(1deg 88% 10%) 29%,
    hsl(0deg 85% 5%) 36%,
    hsl(0deg 86% 3%) 42%,
    hsl(0deg 86% 3%) 49%,
    hsl(0deg 86% 3%) 56%,
    hsl(0deg 86% 3%) 64%,
    hsl(0deg 86% 3%) 71%,
    hsl(0deg 86% 3%) 77%,
    hsl(0deg 86% 3%) 84%,
    hsl(0deg 86% 3%) 90%,
    hsl(0deg 86% 3%) 95%,
    hsl(0deg 86% 3%) 100%
  );
}


@media screen and (max-width : 640px) {
  .swiper-button-next {
    scale: 0.7;
    margin-right: 0px !important;
  }

  .swiper-button-prev {
    scale: 0.7;
    margin-left: 0px !important;
  }

  .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    margin-right: 10px !important;

  }

  .swiper-pagination-bullet-active::after {

    width: 18px !important;
    height: 18px !important;

  }

}